* {
  box-sizing: border-box;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #ffffff;
}	


/*
  ========================================
  header styles
  ========================================
*/

header {
	font-family: 'Georgia', Times, Times New Roman, serif;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #cccccc;
}

.header-container {
	width: 960px;
	display: inline-flex;
}

h1 {
	background-color: #4aaaa5;
	color: #ffffff;
	width: 350px;
	float: left;
	text-align: center;
	height: 100px;
	padding-top: 30px;
	margin-bottom: 0;
	font-size: 24px;
}	

/*
  ========================================
  nav
  ========================================
*/

nav {
	margin-top: 35px;
	float: right;
	margin-left: auto;
}

.primary-nav li {
	display: inline-block;
	padding: 0 10px;
	vertical-align: top;
}

li:not(:last-child) {
    border-right: 1px solid lightgray;
}

.primary-nav a {
	color: #777777;
	font-size: 20px;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-decoration: none;
}

/*
  ========================================
  Main Container 
  ========================================
*/

.main-container {
	background-image: url("../../assets/images/background_pink_rice.png");
	width: 100%;
	text-align: center;
	display: inline-block;
}

/*
  ========================================
  Main Content Area
  ========================================
*/

.content-area {
	clear: both;
	width: 960px;
	margin: 30px 0;
	display: inline-block;
}

/*
  ========================================
  All About Me and Contact Info Section 
  ========================================
*/

.contact-info,
.all-about-me {
	color: #4aaaa5;
	background-color: #ffffff;
	width: 650px;
	padding: 0 20px;
	border: 1px solid #dddddd;
	display: inline-block;
}

h2 {
	font-size: 2em;
	font-weight: bold;
	text-align: left;
}

/*
  ========================================
  Contact Form
  ========================================
*/


form {
	margin-bottom: 20px;
}

input,
textarea {
	font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
}

.contact-form {
	text-align: left;
}

.contact-form label {
	color: gray;
  	cursor: pointer;
  	font-weight: 400px;
  	font-size: 18px;
}

.contact-form input,
.contact-form textarea {
 	border: 1px solid #c6c9cc;
 	border-radius: 5px;
 	display: block;
 	margin: 5px 0 27px 0;
	padding: 5px 8px;  	
	margin-bottom: 10px;
}

.input-text,
.input-email {
	width: 600px;
}

.contact-form input {
	height: 35px;
}

.contact-form textarea {
	height: 100px;
	width: 600px;
}

/*
  ========================================
  Buttons
  ========================================
*/

.button-default {
	width: 150px;
}

.button-default {
	color: white;
	font-size: 18px;
	padding-bottom: 5px;
	background-color: #4aaaa5;
	display: inline-block;
}


/*
  ========================================
  Image link
  ========================================
*/

#about-me-image {
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 20px;
}

/*
  ========================================
  Online Profile 
  ========================================
*/

.online-profile {
	float: right;
	width: 270px;
	padding: 0 20px;
	background-color: #ffffff;
	margin-left: 40px;
	border: 1px solid #dddddd;
}

h3 {
	color: #4aaaa5;
	text-align: center;
}

.online-profile img {
	margin-bottom: 20px;
	margin-right: 10px;
}
/*
  ========================================
  Typography 
  ========================================
*/

h2,
h3 {
	margin: 20px 0;
	padding-bottom: 20px;
	border-bottom: 2px solid darkgray;
}

p {
	text-align: justify;
}

/*
  ========================================
 	Hover Nav/links
  ========================================
*/
a:hover {
  color: #4aaaa5;
}

/*
  ========================================
 	Image tag style
  ========================================
*/

img {
	border-radius: 8px;
}
/*
  ========================================
 Footer
  ========================================
*/

footer {
	clear: both;
	text-align: center;
  	padding: 30px 0;
  	background-color: gray;
  	color: white;
  	border-top: 10px solid #4aaaa5;
  	position: fixed;
  	bottom: 0;
  	left: 0;
  	width: 100%;
}


